<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS Framework -->
    <link rel="stylesheet" href="/css/style.css" />
    <!-- Font Awesome Kits -->
    <script src="https://kit.fontawesome.com/80757eb980.js" crossorigin="anonymous"></script>
    <title>Edit Price</title>
</head>
<body>
    <header id="restaurant-list-header">
        <img src="/images/menuspoon_logo.jpg" alt="menu spoon" width="100">
        <h2 id="restaurant-list-title" style="text-align: right">Edit Item</h2>
    </header>
    <main class="short-header">
        <h1>Edit</h1>
        <form action="/menus/<%= foodItemId %>?_method=PUT" method="POST">
            <label>Name:
                <input id="name-form" type="text" name="name">
            </label>
            <br>
            <label>Description:
                <input id="description-form" type="text" name="description">
            </label>
            <br>
            <label>Price:
                <input id="description-form" type="text" name="price">
            </label>
            <br>
            <label>Category:
                <select id="category-form" name="category">
                    <option value="appetizers">Appetizers</option>
                    <option value="soups">Soups</option>
                    <option value="entrees">Entrees</option>
                    <option value="desserts">Desserts</option>
                    <option value="drinks">Drinks</option>
                </select>
            </label>
            <br>
            <label>Picture
                <input id="picture-form" type="text" name="picture">
            </label>
            <br>
            <input type="submit" value="Edit Food Item">
            <div id="go-back">
                <a id="go-back-text" href="/restaurants">Go back to restauants</a>
            </div>
        </form>
    </main>
    <footer>
        <div>
            <a class="footer-icons" href="/home"><i class="fas fa-home"></i></a>
        </div>
        <div>
            <a class="footer-icons" href="/restaurants"><i class="fas fa-utensils"></i></a>
        </div>
        <div>
            <a class="footer-icons" href="/favorites"><i class="fas fa-star"></i></a>
        </div>
        <% if(user) { %>
        <div>
            <a class="footer-icons" href="/menus/<%= foodItemId %>/new"><i class="fas fa-plus"></i></a>
        </div>
        <% } else { %>
        <div>
            <a class="footer-icons" href="/"><i class="fas fa-sign-in-alt"></i></a>
        </div>
        <% } %>
    </footer>
</body>
</html>