<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>menuspoon</title>
    <!-- Google Fonts -->
    <!-- CSS Framework -->
    <link rel="stylesheet" href="/css/style.css" />
      <!-- Font Awesome Kits -->
      <script src="https://kit.fontawesome.com/80757eb980.js" crossorigin="anonymous"></script>
</head>
<body>
    <div id="landing-logo">
        <img src="/images/menuspoon_logo.jpg" alt="menu spoon" width="300">
    </div>  
    <h1 id="main-welcome">welcome</h1>
    <h3 id="sign-in">sign up or login</h3>

    <div id="auth-buttons">
        <div>
            <a id="link-homepage" href="/auth/google"><img id="googleimg" src="/images/google.png" alt="login with google" width="30">Login With Google</a>
        </div>
        <div>
            <a id="link-homepage" href="/home">Continue without signing in</a>
        </div>
        <p></p>
        <p></p>
        <p id="rights-res">All Rights Reserved &copy; 2020</p>
    </div>
    <footer>
        <div>
            <a class="footer-icons" href="/home"><i class="fas fa-home"></i></a>
        </div>
        <div>
            <a class="footer-icons" href="/restaurants"><i class="fas fa-utensils"></i></a>
        </div>
        <div>
            <a class="footer-icons" href="/favorites"><i class="fas fa-star"></i></a>
        </div>
        <div>
            <a class="footer-icons" href="/"><i class="fas fa-sign-in-alt"></i></a>
        </div>
    </footer>
</body>
</body>
</html>