<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>menuspoon</title>
    <!-- Google Fonts -->
    <!-- CSS Framework -->
    <link rel="stylesheet" href="/css/style.css" />
</head>
<body>
    <h1>menuspoon</h1>
    <img src="/images/menuspoon_logo.jpg" alt="Menu-spoon" width="300" id="landing-logo">
    <a href="/restaurants">See All Restaurants</a>
</body>
</html>