<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>menuspoon</title>
    <!-- Google Fonts -->
    <!-- CSS Framework -->
    <link rel="stylesheet" href="/css/style.css" />
</head>
<body>
    <div id="landing-logo">
        <img src="/images/menuspoon_logo.jpg" alt="menu spoon" width="300">
    </div> 
    <% if(user) { %>
    <h1 id="main-welcome">welcome, <br> <%= user.name %></h1>
    <% } else { %>
    <h1 id="main-welcome">welcome</h1>
    <% } %>

    <p>Find your menu:</p>
    <a href="/restaurants">See All Restaurants</a>
    <a href="/menus">See All Menus</a>
</body>
</html>