<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>menuspoon</title>
    <!-- Google Fonts -->
    <!-- CSS Framework -->
    <link rel="stylesheet" href="/css/style.css" />
      <!-- Font Awesome Kits -->
      <script src="https://kit.fontawesome.com/80757eb980.js" crossorigin="anonymous"></script>
</head>
<body>
    <div id="landing-logo">
        <img src="/images/menuspoon_logo.jpg" alt="menu spoon" width="300">
    </div> 
    <% if(user) { %>
    <h1 id="main-welcome">welcome, <br> <%= user.name %></h1>
    <% } else { %>
    <h1 id="main-welcome">welcome</h1>
    <% } %>

    <h3 id="find-menu-title">Find your menu:</h3>
    <div id="find-menu-buttons">
        <div>
            <a id="link-homepage" href="/restaurants">Search All Restaurants</a>
        </div>
        <div>
            <a id="link-homepage" href="/restaurants">Search All Menus</a>
        </div>
        <% if(user) { %>
        <div>
            <a id="link-homepage" href="/favorited-menus">Your saved menus</a>
        </div>
        <div>
            <a id="link-homepage" href="/favorited-menus">Your menus</a>
        </div>
        <div>
            <a id="link-homepage" href="/logout">Logout</a>
        </div>
        <% } else { %>
        <div>
            <a id="link-homepage" href="/">Login</a>
        </div>
        <% } %>
        <div>
            <a id="link-homepage" href="/menus">Contact Support</a>
        </div>
    </div>
    <footer>
        <div>
            <a class="footer-icons" href="/home"><i class="fas fa-home"></i></a>
        </div>
        <div>
            <a class="footer-icons" href="/restaurants"><i class="fas fa-utensils"></i></a>
        </div>
        <div>
            <a class="footer-icons" href="/favorites"><i class="fas fa-star"></i></a>
        </div>
        <div>
            <a class="footer-icons" href="/"><i class="fas fa-sign-in-alt"></i></a>
        </div>
    </footer>
</body>
</html>