:root {
    --menuspoon-brand-color: rgb(67, 115, 197);
    --menuspoon-brand-font: 'futura';
    --menuspoon-brand-secondary-header-color: lightblue;
    --menuspoon-brand-gray-color: lightgray;
    --menuspoon-thin-font: 'Raleway', sans-serif;
  }

* {
    box-sizing: border-box;
    margin: 0;
    font-family: var(--menuspoon-brand-font);
  }

  body {
      display: flex;
      flex-direction: column;
  }

  #landing-logo {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: var(--menuspoon-brand-color);      
  }

  #main-welcome {
      margin: 10% 0 3% 12.5%;
  }

  #sign-in, #find-menu-title {
    color: var(--menuspoon-brand-secondary-header-color);
    margin: 0 0 10px 12.5%;
  }

  #auth-buttons {
      display: flex;
      flex-grow: 1;
      justify-content: space-evenly;
      align-items: center;
      flex-direction: column;
  }

  #auth-buttons > div, #find-menu-buttons > div {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
  }

  #rights-res {
      color: var(--menuspoon-brand-secondary-header-color);
      font-size: 10px;
  }

    #link-homepage:link, #link-homepage:visited {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    color: black;
    padding: 14px 25px;
    margin: 10px 0 0 0;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    width: 75%;
    border-radius: 10px;
    border: solid;
    border-color: lightgray;
  }

  /* #button-flx-ctr {
    display: flex;
    align-items: center;
    justify-content: center;
  } */

  #find-menu-title {
    margin: 0 0 0 12.5%;
  }

  #googleimg {
    padding: 0 15px 0 0;
  }

  header {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
  }

  #restaurant-list-title {
    text-align: right;
  }

  #thin-font {
    font-family: var(--menuspoon-thin-font);
    margin: 5% 0 0 5%;
    font-weight: 100;
  }

  footer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin: auto;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: var(--menuspoon-brand-color);
    color: white;
    text-align: center;
  }

  .footer-icons:link, .footer-icons:visited {
    color: white;
  }

  #restaurant-list-header {
    background-color: var(--menuspoon-brand-color);
  }

  #restaurant-block {
    background-color: var(--menuspoon-brand-gray-color);
    height: 100%;
    padding: 3%;
    border-radius: 0 10px 10px 0;
    box-shadow: 2px 2px 5px black;
    display: grid;
  }

  #restaurant-page-main:link, #restaurant-page-main:visited {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr;
    align-items: center;
    width: 80%;
    row-gap: 5%;
    margin: 5% 10% 5% 10%;
    text-decoration: none;
  }

  #restaurant-img {
    width: 100%;
    grid-column: 1 / 2;
    border-radius: 10px 0 0 10px;
    box-shadow: 2px 2px 5px black;
  }

  #rest-name, #rest-name:link, #rest-name:visited {
    color: black;
  }

  #rest-address, #rest-address:link, #rest-address:visited {
    font-size: 12px;
    color: gray;
  }

  .short-header {
    margin: 100px 0 0 0; 
  }

  .menu-header {
    margin: 0 0 0 10%;
  }

  #menu-block {
    background-color: var(--menuspoon-brand-gray-color);
    height: 100%;
    padding: 3%;
    border-radius: 0 10px 0 0;
    box-shadow: 2px 2px 5px black;
    display: flex;
    flex-direction: column;
    grid-column: 2/4;
  }

  #menu-page-main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr ;
  grid-template-rows: 1fr auto;
  align-items: center;
  flex-direction: row;
  width: 80%;
  margin: 5% 10% 5% 10%;
  
}

.item-desc {
  font-size: 11px;
}

.item-name {
  
}

#menu-img {
  height: 100%;

  border-radius: 10px 0 0 10px;
  box-shadow: 2px 2px 5px black;
}

.menu-bottom-button {
  background-color: var(--menuspoon-brand-color);
  border-radius: 0 0 0 0;
  box-shadow: 2px 2px 5px black;
  text-decoration: none;
  display: flex;
  justify-content: center;
}

#no-decoration:link, #no-decoration:visited {
  text-decoration: none;
  color: white;
}

#delete-button {
  background-color: var(--menuspoon-brand-color);
  border: none;
  color: white;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}