<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>menuspoon - Restaurants</title>
    <!-- Google Fonts -->
    <!-- CSS Framework -->
    <link rel="stylesheet" href="/css/style.css" />
</head>
<body>
    <header id="restaurant-list-header">
        <img src="/images/menuspoon_logo.jpg" alt="menu spoon" width="100">
    </header>
    <main>
    <% restaurants.forEach(restaurant => { %>
        <article id="restaurant-block">
            
        </article>
    <h1>Restaurants List</h1>
    <table>
        <thead>
            <th>Restaurant Name</th>
            <th>Address</th>
        </thead>
        <tbody>
            <% restaurants.forEach(restaurant => { %>
                <tr>
                    <td><%= restaurant.name %></td>
                    <td><%= restaurant.address %></td>
                    <td><a href="/menus/<%= restaurant.menu %>">Menu</a></td>
                </tr>
            <% }) %>
        </tbody>
    </table>
    <a href="/restaurant/new">New Restaurant</a>
    <a href="/">Go Back</a>
    </main>
    <footer>
        <div>
            <a href="/restaurants">A</a>
        </div>
        <div>
            <a href="/menus">B</a>
        </div>
        <div>
            <a href="/menus">C</a>
        </div>
        <div>
            <a href="/menus">D</a>
        </div>
    </footer>
</body>
</html>